@import "colors";
@import "fonts";

body {
    margin: 0;
    padding: 0;
    background-color: $background-color;
    font-family: $body-font;
}

.container {
    margin: 30px auto;
    max-width: 800px;
    padding: 0 20px;    
}

nav ul {
    font-family: $header-font;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    .active {
        color: $primary-color;
    }
}

footer p {
    font-family: $header-font;
    padding: 0px;
    font-size: 1em;
    font-weight: bold;
    .active {
        color: $primary-color;
    }
    .fa {
        font-size: 1.5em;
    }
}

a {
    text-decoration: none;
    color: $secondary-color;
    transition: 0.2s all;
}

a:hover {
    text-decoration: none;
    color: $primary-color;
}

h1 {
    font-size: 2.5em;
    font-family:$header-font;
    color: $primary-color;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 1.25em;
    font-family: $header-font;
    color: $secondary-color;
    padding: 0;
    margin: 0;
}

h4 {
    font-size: 1em;
    font-family: $header-font;
    color: $contrast-color;
    padding: 0;
    margin: 10px 0;
}

.separator {
    background-color: $secondary-color;
    width: auto;
    height: 1px;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    line-height: 1.3em;
    color: $base-text-color;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

footer a {
    text-decoration: none;
    color: #999;
}

footer a:hover {
    text-decoration: none;
    color: $secondary-color;
}

ul.posts, ul.resources { 
    margin: 20px auto 40px; 
    font-size: 1.25em;
}

ul.posts li, ul.resources li {
    list-style: none;
    color: $contrast-color;
}

.reading-time {
    color: $secondary-color;
}

.metadata {
    margin: 15px 0;
    padding: 10px 0;
    border-top: 1px solid $primary-color;
    border-bottom: 1px solid $primary-color;
    display: flex;
    flex-direction: row;

    .metadata__row {
        display: flex;
        flex: 1;
        flex-direction: row;
        font-size: 0.8em;
        margin: 5px 10px 5px 0;

        .metadata__row-icon {
            width: 25px;
        }
    }
}

@media (max-width: 500px){
    .metadata{
        flex-direction: column;
    }
}

.bloglisting__body {
    display: flex;
    flex-direction: row;

    .postlist {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 10px 0;

        .postlisting {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            padding: 10px 0;

            .postlisting__date {
                display: flex;
                font-size: 0.7em;
                color: $primary-color;
                margin: 0 30px 0 15px;
                padding-top: 4px;
            }

            .postlisting__detail {
                font-size: 0.8em;
                color: $contrast-color;
                padding-left: 15px;
            }
        }

        @media (max-width: 500px){
            .postlisting {
                flex-direction: column-reverse;
            }
        }
    }

    .sidebar {
        width: 120px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .tag {
            background-color: $secondary-color;
            padding: 5px 10px;
            font-size: 0.75em;
            color: white;
            display: inline-block;
            border-radius: 14px;
            margin-bottom: 10px;
        }

        .active {
            background-color: $primary-color;
        }

        @media (max-width: 500px){
            .sidebar {
                flex-direction: row;
            }
        }
    }
}

.blurb {
    display: flex;
    flex-direction: column;
    .blurb__title {
    }

    .blurb__subtitle {
        margin-top: 15px;
    }

    .blurb__body {
        padding: 5px 0;
    }
}

.resources {
    display: flex;
    flex-direction: column;
    .resources__title {
    }

    .resources__body {

        .resources__section {
            padding: 5px 0 10px 0;

            .resources__section__header{
                margin: 10px;
                h2 {
                    color: $contrast-color;
                }
            }

            .resources__item {
                padding: 3px;
                .resources__item__link {
                    font-weight: bold;
                }
            }
        }
    }
}

.post {
    img {
        display: block;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
    }
}
